<div class="container">

<h1>Stores Near You</h1>
<% @stores.each do |store| %>
Store Name: <%= store.name %>
Store City: <%= store.city %>
Distance: <%= store.distance %>
Phone Number: <%= store.phone %>
Store Type: <%= store.store_type %>
<% end %>
</div>
