<div class="container">

<h1>Stores Near You</h1><br>
<h3> <%= @total %> Total Stores </h3><br>
<% @stores.each do |store| %>
Store Name: <%= store.name %><br>
Store City: <%= store.city %><br>
Distance: <%= store.distance %> miles<br>
Phone Number: <%= store.phone %><br>
Store Type: <%= store.store_type %><br><br>
<% end %>
</div>
